flows.json
[{"id":"fff478a5.2ac948","type":"ui_form","z":"2747fa2c.26a276","name":"","label":"","group":"f411ae34.32cab","order":0,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true,"rows":null},{"label":"sex","value":"sx","type":"text","required":true,"rows":null},{"label":"bmi","value":"bm","type":"number","required":true,"rows":null},{"label":"children","value":"cd","type":"number","required":true,"rows":null},{"label":"smoker","value":"sk","type":"text","required":true,"rows":null},{"label":"region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bm":"","cd":"","sk":"","rg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["97d53956.d14438"]]},{"id":"6cdc1ec5.1a533","type":"inject","z":"2747fa2c.26a276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["97d53956.d14438"]]},{"id":"97d53956.d14438","type":"function","z":"2747fa2c.26a276","name":"pretoken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"cd\",msg.payload.cd)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"oceODN6Yo91sakNzNXXevTFMMhR9nsUczYq5K7OSrcR7\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":260,"wires":[["f25e8ac.2185278"]]},{"id":"f25e8ac.2185278","type":"http request","z":"2747fa2c.26a276","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":200,"wires":[["10992952.5fa327"]]},{"id":"10992952.5fa327","type":"function","z":"2747fa2c.26a276","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar sx = global.get('sx')\nvar bm = global.get('bm')\nvar cd = global.get('cd')\nvar sk = global.get('sk')\nvar rg = global.get('rg')\nvar token=msg.payload.access_token\nvar instance_id=\"80c2dcd5-82b3-4a2c-928a-572f0431186e\"\nmsg.headers={'Content-Type': 'application/json', 'Authorization': 'Bearer ' +token, 'ML-Instance-ID':instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[ag,sx,bm,cd,sk,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["f2d4a2c4.739fb"]]},{"id":"f2d4a2c4.739fb","type":"http request","z":"2747fa2c.26a276","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/6bad87f1-c954-4cb3-a5c2-5e20951aa970/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":240,"wires":[["64cdc164.e2432"]]},{"id":"ea3375b.757b788","type":"debug","z":"2747fa2c.26a276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":180,"wires":[]},{"id":"64cdc164.e2432","type":"function","z":"2747fa2c.26a276","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":140,"wires":[["be70fa3d.7f40a8","ea3375b.757b788"]]},{"id":"be70fa3d.7f40a8","type":"ui_text","z":"2747fa2c.26a276","group":"cfe2af1e.1b3a1","order":0,"width":0,"height":0,"name":"","label":"cost","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":400,"wires":[]},{"id":"f411ae34.32cab","type":"ui_group","z":"","name":"Default","tab":"fd1dc185.6585","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfe2af1e.1b3a1","type":"ui_group","z":"","name":"Default","tab":"edfbe4c7.edeea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd1dc185.6585","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"edfbe4c7.edeea8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]